body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #111;
  color: white;
}

.content {
  width: 80%;
  max-width: 1000px;
  margin: 50px auto;
}

.background {
  background-image: url("../images:/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;       /* täcker hela bredden */
  background-position: center;
  width: 100vw;                 /* full bredd av viewport */
  height: 700px;                /* höjd på bilden */
  margin: 20px 0;               /* mellan rubrik och text */
}

p {
  background-color: rgba(255,255,255,0.6);
  color: black;
  padding: 20px;
  border-radius: 10px;
}
