body {
  background-image: url("../img/kent-bild.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(255,255,255,0.8);
  padding: 20px;
  text-align: center;
}
